.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(20 112 175);
  color: azure;
  max-width: 100%;
}

.sv-image img {
  height: 22px;
  width: 18px;
}
.sv-image {
  display: flex;
  align-items: center;
  gap: 29px;
}
.link {
  display: flex;
  gap: 50px;
  transition: all;
}
.link a:hover {
  color: red;
  transform: translateY(2px);
}
.name p {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
.link a {
  text-decoration: none;
  color: azure;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

.circle-image {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-image: url();
}
.bdy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: rgb(20 112 175);
  max-width: 100%;
  padding: 10px;
}
.information {
  width: 600px;
  overflow-wrap: break-word;
}
.information h3 {
  font-family: system-ui;
  color: azure;

  font-size: 31px;
}

.center {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.cdiv {
  /* border: 1px solid black; */
  height: 2px;
  width: 490px;
  background-color: whitesmoke;
  margin-top: 21px;
  animation: line;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes line {
  from {
    width: 490px;
  }
  to {
    width: 200px;
  }
}
.center p {
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  color: whitesmoke;
}

.skills {
  padding: 50px;
  display: flex;
  gap: 90px;
  max-width: 100%;
  justify-content: center;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 262px;
  width: 290px;
  border: 1px solid whitesmoke;
  padding: 10px;
  border-radius: 47px;
  box-shadow: 1px 1px 5px 9px azure;
}

.icon {
  height: 30px;
  color: whitesmoke;
}

.skills .box h3 {
  color: whitesmoke;
  font-size: 30px;
}
.skills .box p {
  color: whitesmoke;
  font-weight: bolder;
  font-size: 20px;
}
.contact {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  color: whitesmoke;
}
.contact-image {
  background-color: aqua;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-image: url("https://sujanpokhrelstc.netlify.app/images/contact.jpg");
}
.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.msg-box {
  height: 38px;
  width: 131px;
  border: 1px solid whitesmoke;
}
.msg-box1 {
  height: 50px;
  width: 131px;
  border: 1px solid whitesmoke;
}
.footer {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  height: 70px;
  width: 100%;
  background-color: black;
  align-items: center;
}

.blue-colour {
  background-color: rgb(20 112 175);
}
.loca {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.loca p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: whitesmoke;
}
.centered {
  display: flex;
  justify-content: center;
}
.footer {
  height: 70px;
  background-color: floralwhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  color: black;
}
.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-idea {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-size: 25px;
  font-weight: bold;
  padding: 50px;
}
.contact-box {
  color: black;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 43px;
  background-color: bisque;
  width: 102px;
}
.center-call {
  display: flex;
  justify-content: center;
}
.sv-image .top:hover {
  color: red;
  cursor: pointer;
}
@media screen(max-width:) {
  
}
